.header__lang-link {
    margin:0;
    padding:0;
    color:white;
    font-weight: 400;
    font-size:24px;
    line-height:1.2;
    cursor: pointer;
    transition: 0.4s;
}

.header__lang-link:nth-child(2) {
    margin-left: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width:450px) {
    .header__lang-link {
        font-size: calc(24 / 450 * 100vw);
        line-height: calc(28 / 450 * 100vw);
    }
}

@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

