.header__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

@media screen and (max-width:320px) {  
    .header__links {
        margin-top: calc(14 / 320 * 100vw);
    }
}