.place__image {
    width: calc(460 / 1280 * 100vw);
    height: calc(460 / 1280 * 100vw);
    object-fit: cover;
    grid-area: 'image';
}

@media screen and (max-width: 1140px) {
    .place__image {
        width: calc(450 / 1140 * 100vw);
        height: calc(450 / 1140 * 100vw);
    }
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: calc(440 / 1024 * 100vw);
        height: calc(440 / 1024 * 100vw);
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: calc(340 / 768 * 100vw);
        height: calc(340 / 768 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .place__image {
        width: 100vw;
        height: 100vw;
    }
}