.header__logo {
    width: 176px;
    height: 52px; 
}

@media screen and (max-width: 400px) {
    .header__logo {
        width: calc(176 / 420 * 100vw);
        height: calc(52 / 420 * 100vw);
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}