

.header__logo {
    position: absolute;
    left: 48px;
    top: 28px;
    width: 176px;
    height: 52px; 
}

@media screen and (max-width: 1024px) {
    .header__logo {
        left: calc(48 / 1024 * 90vw);
    }
    
}

@media screen and (max-width: 768px) {
    .header__logo {
        top: calc(28 / 768 * 90vw);
    }
    
}

@media screen and (max-width: 400px) {
    .header__logo {
        width: calc(176 / 420 * 100vw);
        height: calc(52 / 420 * 100vw);
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        left:16px;
        top:16px;
    }
    
}